<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Sport Record System</title>

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"crossorigin="anonymous">
    <link rel="stylesheet" href="css/getstart.css" id="pagestyle">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">    
</head>
<body>


    <!-- Navigation Section -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light">
        <a class="navbar-brand" href="/">SportReportSystem</a>   
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsResponsive" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            <li class="nav-item"><a class="nav-link" href="/record">Record</a></li>
            <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
            <li class="nav-item"><a class="nav-link" href="/team">Team</a></li>
            <li class="nav-item" id="logout" onclick="document.cookie='session=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';document.location.href = '/';"><a class="nav-link">Log Out</a></li>
          </ul>
        </div>
    </nav>

    <div class="container">
        <form method="POST" id="getstart-form" class="signup-form" action="#">
            <div>
                <h3>比賽隊伍</h3>
                <fieldset>
                    <h2><b>選擇隊伍名稱</b></h2>
                    <p class="desc">請選擇您和對手的隊伍名稱，對手是否存在於此系統，並不影響紀錄。</p>
                    <div class="fieldset-content">
                        <div class="form-group">
                            <label for="your_team" class="form-label">您的隊伍</label>
                            <input type="text" name="your_team" id="your_team" />
                        </div>
                        <div class="form-group">
                            <label for="enemy_team" class="form-label">敵方球隊</label>
                            <input type="text" name="enemy_team" id="enemy_team" />
                            <span class="text-input">範例 :<span>  台大資管</span></span>
                        </div>
                    </div>
                </fieldset>

                <h3>比賽球員</h3>
                <fieldset>
                    <h2>球員名單</h2>
                    <p class="desc">請選擇本次比賽上場的球員。</p>
                    <div class="fieldset-content">
                        <div class="form-group">
                            <label for="find_bank" class="form-label">登錄球員</label>
                            <div class="form-find">
                                <input type="text" name="find_bank" id="find_bank" placeholder="點選以選擇預登錄球員" />
                                <input type="submit" value="新增" class="submit">
                            </div>
                            <div class="form-find">
                                <input type="text" name="find_bank" id="find_bank" placeholder="點選以選擇預登錄球員" />
                                <input type="submit" value="新增" class="submit">
                            </div>
                            <div class="form-find">
                                <input type="text" name="find_bank" id="find_bank" placeholder="點選以選擇預登錄球員" />
                                <input type="submit" value="新增" class="submit">
                            </div>
                            <div class="form-find">
                                <input type="text" name="find_bank" id="find_bank" placeholder="點選以選擇預登錄球員" />
                                <input type="submit" value="新增" class="submit">
                            </div>
                        </div>
                    </div>
                </fieldset>

                <h3>確認隊伍</h3>
                <fieldset>
                    <h2>Set Financial Goals</h2>
                    <p class="desc">Set up your money limit to reach the future plan</p>
                    <div class="fieldset-content">
                        <div class="donate-us">
                            <div class="price_slider ui-slider ui-slider-horizontal">
                                <div id="slider-margin"></div>
                                <p class="your-money">
                                    Your money you can spend per month :
                                    <span class="money" id="value-lower"></span>
                                    <span class="money" id="value-upper"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
 
    <!-- Footer -->
    <footer>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12">
                <h5>&copy; ntuimvolleyball.com</h5>
            </div>
        </div>
    </div>
    </footer>

    <script type="text/javascript" src="js/jquery.steps.min.js"></script>
    <script type="text/javascript" src="js/getstart.js"></script>
</body>
</html>