<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sport Record System</title>

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <link rel="stylesheet" href="css/history.css" id="pagestyle">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>


    <!-- Navigation Section -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light">
        <a class="navbar-brand" href="/">SportReportSystem</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsResponsive"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                <li class="nav-item"><a class="nav-link" href="/record">Record</a></li>
                <li class="nav-item active"><a class="nav-link" href="/history">History</a></li>
                <li class="nav-item"><a class="nav-link" href="/team">Team</a></li>
                <li class="nav-item" id="logout" onclick="document.cookie='session=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';document.location.href = '/';"><a class="nav-link">Log Out</a></li>
            </ul>
        </div>
    </nav>

    <!-- Connect -->
    <div class="history">
        <div class="info row">
            <h1 class="col team-name"></h1>
            <ul class="col list-group list-group-horizontal win-lose">
                <li class="list-group-item rounded-0" id="win-rate">
                    <p>勝率</p>
                    <h3>0</h3>
                </li>
                <li class="list-group-item rounded-0" id="loses">
                    <p>敗場</p>
                    <h3>0</h3>
                </li>
                <li class="list-group-item rounded-0" id="wins">
                    <p>勝場</p>
                    <h3>0</h3>
                </li>
            </ul>
        </div>
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link active" role="tab" data-toggle="tab" href="#history-match">對戰紀錄</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="tab" data-toggle="tab" href="#players-stats">選手數據</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="history-match">
                <div class="matches">
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="players-stats">
                <div class="main-table container-fluid padding">
                    <table class="table player-table">
                        <thead>
                        </thead>
                        <tbody>
                            <tr onclick="window.location='#chart';">
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="stats-plots row" id="chart">
            <div class="col-8  plot-info">
                <h1 id="name"> <span id="pos"> </span></h1>
                <div class="row">
                    <div class="col-6 info-overview">
                        <ul class="list-group stats">
                        </ul>
                    </div>
                    <div class="col-6 info-detailed">
                        <div class="info-detailed-table container-fluid padding">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 plot">
                <div class="plot-body" style="position: relative; max-height: 100%;">
                    <img id="volleyball_court" src="img/volleyball_court.png" style="position: absolute; top: 0; left: 0; max-width: 90%; margin-top: 20px;" alt="">
                    <canvas class="plot-canvas" id="hotspot-plot" style="position: absolute; top: 0; left: 0; margin-top: 20px;">
                    </canvas>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="js/history.js"></script>
</body>

</html>