<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sport Record System</title>

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <link rel="stylesheet" href="css/team.css" id="pagestyle">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">    
</head>
<body>


    <!-- Navigation Section -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light">
        <a class="navbar-brand" href="/">SportReportSystem</a>   
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsResponsive" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a>
            <li class="nav-item"><a class="nav-link" href="/record">Record</a></li>
            <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
            <li class="nav-item active"><a class="nav-link" href="/team">Team</a></li>
            <li class="nav-item" id="logout"><a class="nav-link">Log Out</a></li>
          </ul>
        </div>
    </nav>
    <!-- Connect -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 profile">
                <!-- Account Sidebar-->
                <div class="author-card pb-3">
                    <div class="author-card-profile">
                        <div class="author-card-avatar">
                            <img src="img/user.png" alt="user">
                        </div>
                        <div class="author-card-details">
                            <h5 class="author-card-name text-lg">Unamed</h5>
                            <span class="author-card-position">Free member</span>
                        </div>
                    </div>
                </div>

                <ul class="list-group" id="menu">
                    <li class="list-group-item active" target="#add-team">
                        Add Team
                    </li>
                    <li class="list-group-item" target="#your-teams" id="team-li" data-toggle="collapse" data-target="#team-list">
                        Your Teams<span id="your-teams-num" class="badge badge-pill badge-secondary"style="float:right"></span>
                    </li>
                    <!-- <div id="team-list" class="collapse" >
                        <ul class="list-group">
                            <li class="list-group-item">Team1</li>
                            <li class="list-group-item">Team2</li>
                        </ul>
                    </div> -->
                    <li class="list-group-item"  target="#add-player">
                        Add Player
                    </li>
                </ul>
            </div>

            <div class="col-lg-8">
                <div class="page hide" id="your-teams">
                    <div id="show-player"  class="show-obj"></div>
                    <button id="show-player-btn">檢視球員資料</button>
                </div>


                <form class="row page hide" id="add-player">
                    <div class="col-md-12">
                        <h2>Add Player</h2>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input id="add-player-name" class="form-control" type="text" placeholder="球員名稱" required="">
                            <!-- <div class="alert alert-danger" role="alert">請填寫球員名稱</div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Grade</label>
                            <input id="add-player-grade" class="form-control" type="text" placeholder="年級" required="">
                            <!-- <div class="alert alert-danger" role="alert">請填寫球員的年級</div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Birth</label>
                            <input id="add-player-birth" class="form-control" type="date" value="2020-06-06">
                            <!-- <div class="alert alert-danger" role="alert">請提供球員的生日</div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label>Number</label>
                            <input id="add-player-number" class="form-control" type="text" placeholder="球號" required="">
                            <!-- <div class="alert alert-danger" role="alert">請填寫球員的球號</div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Position</label>
                            <select id="add-player-position" class="form-control" required="">
                                <option value="PF">PF</option>
                                <option value="swordman">Sword Man</option>
                                <option value="healer">Healer</option>
                            </select>
                            <!-- <div class="alert alert-danger" role="alert">請選擇比賽位置</div> -->
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center align-items-center">
                        <button class="btn btn-style-1 btn-primary" type="submit" form="add-player">新增球員</button>
                    </div>
                </form>

                <form class="row page" id="add-team">
                    <div class="col-md-12">
                        <h2>Add Team</h2>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="add-team-name">Name</label>
                            <input class="form-control" type="text" id="add-team-name" placeholder="隊伍名稱" required="">
                            <!-- <div class="alert alert-danger" role="alert">請填寫隊伍名稱</div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="add-team-sport_type">Sport Type</label>
                            <select class="form-control" name="add-team-sport_type" id="add-team-sport_type">
                                <option value="volleyball">Volley Ball</option>
                                <option value="basketball">Basket Ball</option>
                            </select>
                            <!-- <div class="alert alert-danger" role="alert">至少選擇一種球類</div> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="add-team-description">Description</label>
                            <textarea class="form-control" id="add-team-description" placeholder="簡單描述您的隊伍..." row="3" required=""></textarea>
                            <!-- <div class="alert alert-danger" role="alert">請提供隊伍的基本資訊</div> -->
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center align-items-center">
                        <button class="btn btn-style-1 btn-primary" type="submit" form="add-team">新增球隊</button>
                    </div>
                </form>


            </div>

        </div>
    </div>


    <!-- Footer -->
    <footer>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12">
                <h5>&copy; ntuimvolleyball.com</h5>
            </div>
        </div>
    </div>
    </footer>

    <script type="text/javascript" src="js/team.js"></script>
</body>
</html>