@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
    overflow-y: hidden;
  font-family: 'Poppins','Microsoft JhengHei';
  color: #222;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 8vh; 
}

.navbar {
    padding: .8rem;
}
  
.navbar-nav li {
    padding-right: 20px;
}
  
.nav-link {
    font-size: 1.1em;
}

.history{
    height: 95vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20px;
}

.history .nav-link{
    color: #aaaaaa;
    width: 100%;
}

.info{
    margin: 30px;
}

.info ul{
    border-radius: 0px;
    justify-content: right;
}

.info li{
    border-top: 0 none;
    border-left: 0 none;
    border-bottom: 0 none;
    width: 120px;
    margin-left: 5px;
}

.tab-pane{
    padding-bottom: 20px;
}

.stat-cards .card{
    padding-left: 0px;
    padding-right: 0px;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    margin: 20px;
}

.stat-cards .card-header{
    height: 250px;
    background-color: #faeae0;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    line-height: 250px;
    text-align: center;
}

.stat-cards .card-header span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.stat-cards .card-header h1{
    font-size: 84pt;
    text-align: center;
    color: #444444;
}

.match-record{
    margin: 10px;
    padding: 0;
    width: 95%;
}

.match-record .list-group{
    display: grid !important;
    grid-template-columns: repeat(auto-fit, 90px);
    grid-gap: 1em;
    padding: 0;
}

.match-record .row{
    margin-left: 0;
    margin-right: 0;
}

.match-record .card-leading{
    height: 75px;
    width: 7.5px;
    padding: 0px;
    margin-top: -1px;
    margin-bottom: -1px;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    background-color: #bbbbbb;
}

.match-record .defeat .row{
    border-left: 3px #d55539 solid;
}

.match-record .victory .row{
    border-left: 3px #7ebb3a solid;
}

.match-record .list-group-item{
    border-top: 0 none;
    border-left: 0 none;
    border-bottom: 0 none;
    border-right: 0 none;
    padding-left: 15px;
    padding-right: 15px;
    height: 70px;
}

.match-record .card-content{
    border-left: 1px #dddddd solid;
}

.match-record .lineup{
    height: 100%;
    width: 130px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 18px;
    padding-left: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.match-record .lineup p{
    padding-top: 5px;
    text-align: right;
    font-size: 10pt;
}

.match-record p{
    font-size: 8pt;
    color: #999999;
    margin-bottom: 5px;
}

.match-record .list-group-item h3{
    font-size: 16pt;
    color: #333333;
    margin-bottom: 3px;
}

.match-record .list-group-item.score{
    width: 105px;
}


.player-table tbody tr:hover{
    cursor:pointer;
    background-color: #f8f8f8;
}

.tab-content{
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.stats-plots{
    height: 90vh;
}

.stats-plots .plot-info{
    padding-top: 3%;
    padding-left: 5%;
    height: 80%;
}

.stats-plots .plot-info .row{
    height: 100%;
}

.stats-plots .plot-info .info-overview{
    padding-top: 40px;
}

.stats-plots .plot-info .info-detailed{
    padding-top: 0;
    height: 100%;
    overflow: auto;
}

.stats-plots .plot-info table{
    border-collapse: collapse; 
}

.stats-plots .plot-info td{
    border: 0 none;
}

.stats-plots .plot-info th{
    border: 0 none;
    font-weight: 400;
    padding-top: 1em;
    padding-bottom: 1em;
}

.stats-plots .plot-info td{
    border: 0 none;
    font-weight: 400;
    padding-top: 1em;
    padding-bottom: 1em;
}

.stats-plots .plot-info .section-head th{
    border-bottom: 0.25px solid;
    font-weight: 700;
}


caption{
    caption-side: top;
    font-size: 18pt;
    text-align: center;
}

.stats-plots .plot-info #name{
    padding-left: 20px;
    font-size: 54pt;
}

.stats-plots .plot-info #pos{
    font-weight: 400;
    margin-left: 20px;
    font-size: 20pt;
}

.stats-plots .plot-info .stats span{
    color: #555555;
    font-weight: 400;
    margin-left: 20px;
    font-size: 28pt;
    float: right;
}

.stats-plots .plot-info .list-group.stats{
    width: 30vw;
}

.stats-plots .plot-info .list-group.stats li{
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    font-size: 16pt;
    color: #999999;
}

.stats-plots .plot-body{
    min-height: 100px;
}


.main-table thead th {
    position: sticky;
    top: 0; 
}

.stats-plots .dropdown{
    padding: 10px;
    justify-content: center;
}

.stats-plots .dropdown .btn{
    font-size: 22pt;
    color: #000000;
    background-color: #ffffff;
    border-top: 0 none;
    border-left: 0 none;
    border-bottom: 0 none;
    border-right: 0 none;
}

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th[scope=col] { background:#eeeeee; }

h2 {
    font-size: 2.9rem;
    margin: .5em;
    color:  #333;
}


a {
    display: block;
    float: right;
    font-size: .9rem;
}



/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
