module.exports = function(){
    switch(process.env.NODE_ENV){
        case 'development':
            return {
                backend: 'http://127.0.0.1:8787'
            };

        case 'production':
            return {
                backend: 'https://ntuim.cjiso.ninja/'
            };

        default:
            return {
                backend: '0.0.0.0'
            };
    }
};